@import "_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

.active {
  box-shadow: 0px 0px 10px $button-background;
}

.background {
  border: 1.5rem solid rgba(0, 0, 0, .4);
  border-radius: .5rem;
  width: 90%;
  margin: 0 auto;
}

.bottom-logo {
  text-align: center;
}

.button {
  background-color: $button-background;
  height: 4rem;
  color: #fff;
  border: 1px solid green;
  border-radius: 2px;
  font-size: 2rem;
  cursor: pointer;
}

.container {
  margin: 0 auto 4rem auto;
  max-width: 45rem;

  &__title {
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 3rem;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 1.5rem;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &--done {
      opacity: .6;
    }

    &--unsub {
      background-color: $button-background-alert;
      border: 1px solid rgb(185, 0, 0)
    }
  }

  &__buttons>button {
    width: 45%;
  }

  &__checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;
    color: $input-color;
    font-size: 1.4rem;

    &--sign-in {
      flex-grow: 1;
    }
  }

  &__icon {
    font-size: 1.5rem;
    padding: .5rem 2rem;
    border-right: 1px solid $input-color;
  }

  &__input {
    width: 95%;
    padding: 1rem 2rem;
    font-size: 2rem;
    color: rgb(123, 123, 123);
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    &--location,
    &--message {
      color: $input-color;
      font-size: 1.5rem;
    }

    &--message {
      border: 2px solid $input-color;
      border-radius: .5rem;
      background-color: $form-background;
      padding: 1rem 2rem;
      font-size: 2.2rem;
      margin-bottom: 2rem;
      resize: none;

      &:focus {
        outline: none;
      }
    }

    &::placeholder,
    &--message::placeholder {
      font-size: 1.5rem;
      color: $input-color;

    }
  }

  &__label {
    width: 100%;
    border: 2px solid $input-color;
    border-radius: .5rem;
    color: $input-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

  }
}

.form-container {
  background-color: $form-background;
  padding: 2rem;
  border-radius: 5px;
}

.flex {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: space-between;
    gap: 2%;

    &__item {
      width: 50rem;
    }
  }
}

.logo {
  padding: 5rem 2rem;
  opacity: .4;
  max-width: 40rem;
  width: 100%;
}

.main {
  background: url('../assets/img/background-mobile.jpg') center no-repeat;
  background-size: cover;

  @media (min-width: $tablet) {
    background: url('../assets/img/background-desktop.jpg') center no-repeat;
    background-size: cover;
  }
}

.top {
  width: 100%;
  text-align: center;
}